.mainWrapper {
  position: relative;
  width: 100%;
  text-align: center;
  margin: 20px 0;
}
.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}
.adsBox {
  border: 2px solid var(--border-color);
  background-color: var(--background);
  padding: 15px;
  border-radius: 8px;
  margin: 0;
  text-align: left;
  color: #3a3a3a;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.titleBox {
  margin-bottom: 10px;
  border-bottom: 2px solid var(--border-color);
}

.title {
  margin-top: 10px;
  text-align: center;
}

.subtitle1 {
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}

.subtitleBox p {
  font-size: 1.2rem;
  color: var(--heading-color);
  margin-top: 20px;
  font-weight: 600;
  line-height: 1.4;
  text-align: center;
  
}

.adsImageWrapper {
  text-align: center;
  margin-bottom: 10px;
}

.adsImage {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.servicesList {
  margin: 10px 0;
  padding-left: 20px;
  list-style-type: none;
}

.servicesList li {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.4;
  color: var(--text-color);
  margin-bottom: 5px;
  position: relative;
  padding-left: 20px;
}

.servicesList li::before {
  content: "•";
  display: inline-block;
  margin-right: 5px;
  color: var(--heading-color);
  font-size: 1.4rem;
  line-height: 1;
  font-weight: bold;
}
.linkBox {
  text-align: center;
  font-size: 1.2rem;
  font-style: italic;
  color: var(--heading-color);
  font-weight: 600;
}

.linkBoxHref {
  font-family: var(--font-headings);
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--border-color);
  transition: font-size 0.3s ease, color 0.3s ease, text-decoration 0.3s ease;
}

.linkBoxHref:hover {
  font-size: 1.2rem;
  text-decoration: underline;
  color: var(--heading-color);
}

.linkBoxHref2 {
  font-family: var(--font-headings);
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--border-color);
  text-decoration: underline;
}

.textBlock p {
  font-size: 0.9rem;
  font-weight: 600;
  text-align: center;
  color: var(--text-color);
}

.decorativeLine {
  position: relative;
  width: 100%;
  height: 4px;
  text-align: center;
  margin-bottom: 10px;
}

.decorativeLine::before,
.decorativeLine::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.8px;
  background-color: var(--heading-color);
  position: absolute;
  left: 0;
}

.decorativeLine.bottom {
  transform: scaleY(-1);
  margin-top: 10px;
}

@media (max-width: 768px) {
  .adsBox {
    padding: 12px;
  }

  .title {
    font-size: 1.2rem;
    line-height: 1.2;
  }
  .subtitleBox p {
    font-size: 1.1rem;
    line-height: 1.4;
  }
  .subtitle1 {
    font-size: 1rem;
  }
  .servicesList {
    padding: 0;
  }
  .servicesList p {
    font-size: 1rem;
  }
  .servicesList li {
    font-size: 0.95rem;
    line-height: 1.2;
    padding: 0 10px;
  }
  .linkBox {
    line-height: 1.4;
  }
}
