.adsBox {
  background: var(--alt-background); 
  border: 2px solid #8b0000;
  padding: 15px;
  border-radius: 8px;
  margin: 0;
  text-align: left;
  color: #3a3a3a;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: row;
}

[data-theme="dark"] .adsBox {
  background: #2e2e2e;
  color: #fdf3d0;
  border-color: #e0a96d;
}
.textBox {
  width: 50%;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  margin-right: 30px;
}
.textContainer h4 {
  color: var(--link-color);
}
.textContainerLeft h4 {
  color: var(--link-color);
}
.textContainerLeft {
  margin: 0;
} 

.textContainer{
   width: 50%;
   margin-left: 10px;
} 
.contactBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 15px;
  gap: 10px;
  text-align: center;
}
.label {
  font-weight: bold;
  font-size: 1rem;
  color: var(--heading-color);
  margin-right: 5px;
  line-height: 2.2;
}

.value,
.valueLink {
  color: var(--text-color);
  font-weight: bold;
  font-size: 1.2rem;
}

.mainWrapper h3 {
  font-family: var(--font-headings);
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--heading-color);
  margin-bottom: 8px;
  text-align: center;
  text-transform: uppercase;
  transition: color 0.3s ease-in-out;
}
.mainWrapper p {
  font-size: 1.0rem;
  font-weight: 600;
  line-height: 1.4;
}
.imageWrapper {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}
.subtitleBox {
  font-size: 1.0rem;
  font-weight: 600;
  line-height: 1.4;
  margin: 10px 0;
}
.image {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-top: 12px;
}

.list {
  margin: 10px 0;
  padding-left: 20px;
  list-style-type: none;
}

.list li {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.4;
  margin-bottom: 5px;
  position: relative;
  padding-left: 20px;
}
.list li::before {
  content: "•";
  display: inline-block;
  margin-right: 5px;
  color: var(--link-color);
  font-size: 1.4rem;
  line-height: 1;
  font-weight: bold;
}

.mainWrapper {
  position: relative;
  width: 100%;
  text-align: center;
  margin: 20px 0;
  justify-content: center;
}
.link {
  display: flex;
  flex-direction: row;
  align-content: center;
}
.decorativeLine {
  position: relative;
  width: 100%;
  height: 5px;
  text-align: center;
  margin-bottom: 10px;
}

.decorativeLine::before,
.decorativeLine::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--heading-color);
  position: absolute;
  left: 0;
}

.decorativeLine::before {
  top: 0;
}

.decorativeLine::after {
  bottom: 0;
}

.decorativeLine span {
  font-size: 1.4rem;
  color: var(--heading-color);
  font-weight: bold;
  display: inline-block;
  background: none;
  position: relative;
  line-height: 1;
  margin: 3px;
  margin-top: 0;
  padding: 0;
}

.decorativeLine .left {
  transform: scaleX(-1);
  margin-right: 2px;
}

.decorativeLine .right {
  margin-left: 2px;
}

.decorativeLine.bottom .left {
  transform: scaleX(1);
}

.decorativeLine.bottom .right {
  transform: scaleX(-1);
}

.decorativeLine.bottom {
  transform: scaleY(-1);
  margin-top: 20px;
}

@media (max-width: 768px) {
  .adsBox {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .textBox {
    width: 100%;
    margin-top: 15px;
    margin: 0;
  }

  .textContainer {
    width: 100%;
  }
  .textContainer h4 {
    text-align: center;
    padding: 0;
  }
  .textContainerLeft h4 {
    text-align: center;
    padding: 0;
  }
  .contactBox {
    text-align: center;
    display: flex;
   align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--heading-color);
    margin-bottom: 30px;
    flex-direction: column;
    gap: 0;
  }

  .imageWrapper {
    width: 80%;
    margin: 0 auto 10px auto;
  }

  .image {
    width: 100%;
    height: auto;
  }

  .list {
    padding: 0;
  }

  .list li {
    font-size: 0.95rem;
    line-height: 1.2;
    padding: 0 10px;
  }

  .mainWrapper h3 {
    font-size: 1.3rem;
  }

  .label {
    font-size: 0.8rem;
    line-height: 2.2;
  }

  .value, 
  .valueLink {
    font-size: 1rem;
  }

  .decorativeLine span {
    font-size: 1.2rem;
  }

  .decorativeLine {
    margin-bottom: 8px;
  }

  .decorativeLine.bottom {
    margin-top: 15px;
  }
}
