.container {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 20px;
  background: var(--background);
  color: var(--text-color);
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.title {
  font-family: var(--font-headings);
  text-align: center;
  color: var(--link-color);
  margin-bottom: 25px;
}

.announcementsWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.announcementGroup.single {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.announcementGroup.single .announcementBox {
  width: 100%;
}

.announcementGroup.double {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  align-items: stretch; 
}

.announcementGroup.double .announcementBox {
  width: 48%;
 
}

.announcementGroup.triple {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  align-items: stretch;
}

.announcementGroup.triple .announcementBox {
  width: 32%;
}
.announcementGroup.triple2 {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Два столбца */
  grid-template-rows: auto auto; /* Две строки */
  gap: 15px;
  align-items: stretch;
}

.announcementGroup.triple2 .announcementBox:nth-child(1),
.announcementGroup.triple2 .announcementBox:nth-child(2) {
  grid-column: 1;
}

.announcementGroup.triple2 .announcementBox:nth-child(3) {
  grid-column: 2; /* Одно объявление справа */
  grid-row: 1 / span 2; /* Растягивается на две строки */
}

.announcementBox {
  padding: 15px;
  border-radius: 5px;
  background: var(--alt-background-light);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

[data-theme="dark"] .announcementBox {
  background: #252525;
  color: #d4c8b0;
  border-color: #e0a96d;
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
  .title {
    font-size: 1.4rem;
    margin-bottom: 10px;
  }
  .announcementGroup.double,
  .announcementGroup.triple {
    flex-direction: column;
  }

  .announcementGroup.double .announcementBox,
  .announcementGroup.triple .announcementBox {
    width: 100%;
  }
  .announcementGroup.triple2 {
    display: flex;
    flex-direction: column;
  }

  .announcementGroup.triple2 .announcementBox {
    width: 100%;
  }
}
