.announcements {
  flex: 1;
  width: 22%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.announcementItem {
  border: 2px solid var(--border-color);
  background-color: var(--background);
  color: var(--text-color);
  padding: 15px;
  border-radius: 8px;
  font-size: 1rem;
  font-family: var(--font-body);
  text-align: justify;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}
[data-theme="dark"] .announcementItem {
  background-color: var(--background);
  color: var(--text-color);
  border-color: var(--border-color);
  box-shadow: 2px 2px 8px rgba(255, 255, 255, 0.1);
}


@media (max-width: 1024px) {
  .announcements {
    width: 28%;
  }
}

@media (max-width: 768px) {
  .announcements {
    width: 100%;
  }
  
  .announcementItem {
    text-align: center;
    padding: 15px;
  }
}
