.articlesContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  font-family: var(--font-headings);
  text-transform: uppercase;
}

.articleCard {
  padding: 0;
  margin-bottom: 30px;
  border: none;
  background: none;
  transition: none;
}

.articleTitle {
  font-size: 1.8rem;
  margin-bottom: 5px;
  font-family: var(--font-headings);
}

.articleMeta {
  font-size: 1rem;
  color: #666;
  font-style: italic;
  margin-bottom: 10px;
}

.readMoreButton {
  display: inline-block;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--link-color);
  text-decoration: underline;
  cursor: pointer;
}

.readMoreButton:hover {
  text-decoration: none;
  color: var(--border-color);
}
