.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.pageTitle {
  font-family: var(--font-headings);
  font-size: 2.5rem;
  text-align: center;
  color: var(--heading-color);
  margin-bottom: 25px;
}
.meta {
  display: none;
}

.eventCard {
    border: 1px solid var(--heading-color);
    border-radius: 8px;
    padding: 20px;
    background: var(--alt-background);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    margin-bottom: 30px;
}
.eventTitle {
  font-family: var(--font-headings);
  font-size: 1.6rem;
  text-align: left;
  color: var(--heading-color);
  margin-bottom: 20px;
}

.eventVariantA,
.eventVariantB {
  padding: 20px;
  border-radius: 8px;
  background: var(--alt-background);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
}

.eventVariantA {
  background: var(--alt-background1);
}

.eventVariantB {
  background: rgba(0, 0, 0, 0.03);
}
.eventImageOrt {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}
.eventLocation {
  width: 70%;
  margin-left: 30px;
}
.label {
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--heading-color);;
}

.value {
  color: var(--link-color);
  font-weight: 600;
  margin-left: 5px;
  font-size: 1.6rem;
}
.valueLink {
  color: var(--link-color);
  font-size: 1.4rem;
  font-style: italic;
  text-decoration: underline;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  display: inline-block;
  max-width: 100%;
}
.image_textBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}

.eventVariantB .image_textBox {
  flex-direction: row-reverse;
}

.eventVariantB .eventImage {
  margin-left: 20px;
}

.eventVariantA .eventImage {
  margin-right: 20px;
}

.eventImage {
  display: block;
  width: 30%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  margin-bottom: 20px;
}

.eventImage:hover {
  transform: scale(1.02);
}

.eventContent {
  width: 100%;
  font-size: 1.2rem;
  line-height: 1.4;
  text-align: justify;
  -webkit-hyphens: auto;
  hyphens: auto;
  transition: color 0.3s ease-in-out;
}

.eventContent p {
  text-align: justify;
}

.toggleButton {
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  color: var(--link-color);
  text-decoration: underline;
  cursor: pointer;
  border: none;
  background: none;
  margin-top: 30px;
  padding: 0;
  transition: color 0.3s ease-in-out;
  
}
[data-theme="dark"] .toggleButton:hover {
  color: #f4f1dd;
  font-size: 1rem;
  text-decoration: underline;
} 

.toggleButton:hover {
  color: var(--heading-color);
  text-decoration: none;
  background: none;
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .pageTitle {
    font-size: 2rem;
    margin-bottom: 15px;
  }

  .eventCard {
    padding: 15px;
    margin-bottom: 20px;
  }

  .eventTitle {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  .eventImage {
    width: 100%;
    height: auto;
    margin: 10px 0;
  }

  .image_textBox {
    flex-direction: column;
    align-items: center;
  }

  .eventVariantA .eventImage,
  .eventVariantB .eventImage {
    margin: 0 auto;
  }

  .eventContent {
    font-size: 1rem;
    line-height: 1.3;
    text-align: justify;
  }

  .eventLocation {
    width: 100%;
    text-align: left;
  }

  .eventImageOrt {
    flex-direction: column;
    align-items: center;
  }
  .box {
  width: 90%;
  }
  .value {
    font-size: 1rem;
  }
  .valueLink {
    font-size: 0.9rem; /* Уменьшаем размер шрифта на мобильных */
  }
  .label {
    font-size: 0.8rem;
  }

  .toggleButton {
    font-size: 0.9rem;
    margin-top: 15px;
  }
}

