.footer {
  background: none;
  padding: 5px 0;
  border-top: 4px solid var(--heading-color);
  text-align: center;
  transition: border-color 0.3s ease-in-out;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.brand {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
}

.brand a {
  text-decoration: none;
  color: var(--heading-color);
  transition: color 0.3s ease-in-out;
}

.nav {
  display: flex;
  gap: 30px;
  font-size: 0.9rem;
  font-family: "Merriweather", serif;
  justify-content: center;
  margin-bottom: 10px;
  color: var(--text-color);
}
.navLink  {
  text-decoration: none;
  color: var(--text-color);
  transition: color 0.2s;
 
}

.nav a:hover {
  color: var(--heading-color);
  text-decoration: underline;
}
.linkBox {
  display: flex;
  gap: 30px;
}
.active {
  font-weight: bold;
  color: var(--link-color);
  text-decoration: underline;
}
.copyright {
  font-size: 0.9rem;
  color: var(--heading-color);
  transition: color 0.3s ease-in-out;
}
.decorativeLine {
  position: relative;
  width: 100%;
  height: 5px;
  margin-top: 10px;
  text-align: center;
}

.decorativeLine::before,
.decorativeLine::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--heading-color);
  position: absolute;
  left: 0;
}

.decorativeLine::before {
  top: 0;
}

.decorativeLine::after {
  bottom: 0;
}
.socials {
  display: flex;
  gap: 25px;
  margin: 10px 0;
  justify-content: center;
}

.socialIcon {
  transition: transform 0.3s ease;
}

.socialIcon:hover {
  transform: scale(1.1);
}
.facebook {
  content: url("/icons/facebook_icon.png");
}
.instagram {
  content: url("/icons/instagram_icon.png");
}
.telegram {
  content: url("/icons/telegram_icon.png");
}
/* Тёмная тема */
[data-theme="dark"] .facebook {
  content: url("/icons/facebook_icon_dark.png");
}
[data-theme="dark"] .instagram {
  content: url("/icons/instagram_icon_dark.png");
}
[data-theme="dark"] .telegram {
  content: url("/icons/telegram_icon_dark.png");
}
@media (max-width: 768px) {
  .footer {
    padding: 0 0 15px 0;
  }

  .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .brand {
    font-size: 1.2rem;
    margin-bottom: 8px;
  }

  .nav {
    gap: 8px;
    margin-bottom: 8px;
    flex-direction: column;
  }

  .nav a {
    font-size: 0.9rem;
  }
  .linkBox {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .copyright {
    font-size: 0.8rem;
  }
  [data-theme="dark"] .footer {
    border-color: #e0a96d;
  }
  
  [data-theme="dark"] .brand a {
    color: #e0a96d;
  }
  
  [data-theme="dark"] .nav a {
    color: #d4c8b0;
  }
  
  [data-theme="dark"] .nav a:hover {
    color: #e0a96d;
  }
  
  [data-theme="dark"] .copyright {
    color: #d4c8b0;
  }
}

