.header {

  background: none;
  padding: 0 0 10px 0;
  border-bottom: 2px solid var(--border-color);
  
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.logo {
  font-family: "Old Standard TT", serif;
  font-size: 5rem;
  font-weight: bolder;
  color: var(--heading-color);
  text-transform: uppercase;
  text-decoration: none;
  margin: 10px 0 0 0;
  transition: color 0.3s;
}

.nav {
  display: flex;
  gap: 20px;
  font-size: 1rem;
  font-family: "Merriweather", serif;
  text-transform: uppercase;
  justify-content: center;
}

.nav a {
  text-decoration: none;
  color: var(--text-color); /* ✅ Цвет текста тоже меняется */
  transition: color 0.2s;
}

.nav a:hover {
  color: var(--heading-color); /* ✅ При наведении цвет заголовка */
}

.tools {
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  gap: 10px;
}
