.container {
  max-width: 1200px;
  margin: 10px auto;
  padding: 20px;
}

.layout {
  display: flex;
  gap: 30px;
  align-items: flex-start;
  border-bottom: 4px solid var(--heading-color);
}

.articlesSection {
  flex: 2;
  width: 75%;
  display: flex;
  flex-direction: column;
}

.mainArticle {
  padding: 10px 20px;
  margin-bottom: 10px;
  text-align: justify;
  width: 100%;
  background: var(--alt-background-light);
}

.decorativeLine {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 35px;
}

.decorativeLine::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--border-color);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

/* Символы ⊱ и ⊰ */
.decorativeLine span {
  font-size: 1.6rem;
  line-height: 1;
  font-weight: bold;
  color: var(--border-color);
  display: inline-block;
  position: relative;
  background: var(--background);
  padding: 0 10px;
  z-index: 1;
}

.decorativeLine .left {
  margin-right: 5px;
  transform: scaleX(-1);
  background: var(--alt-background-light);
}

.decorativeLine .right {
  margin-left: 5px;
  background: var(--alt-background-light);
}
.mainArticle .articleContent {
  font-size: 1.1rem;
  line-height: 1.4;
  text-align: justify;
  column-count: 2;
  column-gap: 30px;
  -webkit-hyphens: auto;
  hyphens: auto;
  transition: color 0.3s ease-in-out;
}
.mainArticle h2 {
  margin-top: 0;
 
}

.mainImage {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 15px;
}

.announcements {
  flex: 1;
  width: 22%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.secondArticleTitle {
  border-top: 2px solid var(--heading-color);
  padding-top: 20px;
}
.secondArticle {
  display: flex;
  flex-direction: column;
  padding: 15px 0;
  text-align: justify;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 10px 20px;
  background: var(--alt-background-light);
  border-bottom: 4px solid var(--heading-color);
}

.secondArticle .articleContent {
  font-size: 1.1rem;
  line-height: 1.4;
  text-align: justify;
  column-count: 3;
  column-gap: 20px;
  -webkit-hyphens: auto;
  hyphens: auto;
  transition: color 0.3s ease-in-out;
}
.mainArticle li,
.secondArticle li {
  text-align: left;
  
}
.secondArticle img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin: 10px 0;
}

.otherArticles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
  padding-top: 20px;
}

.otherArticlesTitle {
  color: var(--heading-color);
  text-align: center;
  margin-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 5px;
 font-weight: 600;
 font-size: 1.2rem;
 text-decoration: underline;
}
.otherArticlesTitle:hover {
  color: var(--link-color);
  border-bottom: 1px solid var(--link-color);
}

.otherArticlesList {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.articleLink {
  font-size: 1.2rem;
  font-family: "Merriweather", serif;
  text-align: left;
  border-bottom: 1px dashed var(--border-color);
  padding-bottom: 5px;
  transition: color 0.2s ease-in-out;
}

.articleLink a {
  color: var(--text-color);
  text-decoration: none;
}

.articleLink a:hover {
  color: var(--link-color);
  border-bottom: 1px solid var(--link-color);
}

.articleDate {
  font-size: 0.9rem;
  font-family: var(--font-headings);
  color: var(--text-color);
  font-style: italic;
  display: inline-block;
  transition: color 0.3s ease-in-out;
  margin: 0;
}


@media (max-width: 1024px) {
  .layout {
    gap: 20px;
  }

  .articlesSection {
    width: 70%;
  }

  .announcements {
    width: 28%;
  }
  .mainArticle {
    border-bottom: 4px solid var(--heading-color);
  }
}

@media (max-width: 768px) {
  .layout {
    flex-direction: column;
  }
  .mainArticle {
    border-bottom: 4px solid var(--heading-color);
  }
  .mainArticle,
  .secondArticle {
    padding: 0;
    background: none;
  }
  .mainArticle h2,
  .secondArticle h2 {
   font-size: 1.2rem;
   text-align: left;
  }
  .mainArticle h3,
  .secondArticle h3 {
    font-size: 1rem;
    border-bottom: 1px solid var(--border-color);
  }
  .mainArticle h4,
  .secondArticle h4 {
    font-size: 0.85rem;
    display: inline-block;
    text-align: left;
  }
  .mainArticle p,
  .secondArticle p {
    font-size: 1.0rem;
    line-height: 1.4;
  }
  .articlesSection,
  .announcements {
    width: 100%;
  }
  .mainArticle .articleContent,
  .secondArticle .articleContent {
    column-count: 1; 
    column-gap: 0;
    font-size: 1rem;
    text-align: justify;
  }
  .announcementItem {
    font-size: 1rem;
    text-align: center;
  }
  .otherArticles a {
    font-size: 0.8rem;
  }
  .articleLink li {
    font-size: 0.6rem;
  }
  .otherArticles {
    margin-top: 0;
    padding: 0;
  }
  
  .otherArticlesList {
    flex-direction: column;
    gap: 10px;
  }
  .articleLink {
    font-size: 1.1rem;
    text-align: center;
  }
}
