.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 20px 50px 20px;
  background: var(--background);
  color: var(--text-color);
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.title {
  font-family: var(--font-body);
  font-size: 2.2rem;
  text-align: center;
  color: var(--heading-color2);
  margin-bottom: 25px;
}

.paragraph {
  font-size: 1.1rem;
  line-height: 1.4;
  text-align: justify;
  /* column-count: 2;
  column-gap: 20px; */
  -webkit-hyphens: auto;
  hyphens: auto;
  transition: color 0.3s ease-in-out;
}
.sectionTitle {
  color: var(--heading-color);
  margin-top: 30px;
}
@media (max-width: 768px) {
  .container {
    padding: 20px;
  }
  .title {
    font-size: 1.4rem;
    margin-bottom: 10px;
  }
}