.languageSwitcher {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  font-family: var(--font-body);
}

.toggleWrapper {
  position: relative;
  width: 30px;
  height: 60px;
  background: var(--button-bg);
  border-radius: 15px;
  border: 2px solid var(--link-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}

.toggleKnob {
  position: absolute;
  width: 24px;
  height: 24px;
  background: var(--background);
  border-radius: 50%;
  top: 4px;
  transition: all 0.3s ease-in-out;
  border: 1px solid var(--text-color);
}

.toggleWrapper.active {
  background: var(--border-color);
}

.toggleWrapper.active .toggleKnob {
  top: 32px;
}

.languageLabel {
  font-size: 1rem;
  font-weight: bold;
  color: var(--heading-color);
  transition: color 0.3s ease-in-out;
}

.lanternIcon {
  vertical-align: middle;
  width: 20px;
  height: 40px;
}

@media (max-width: 768px) {
  .languageSwitcher {
    gap: 5px;
    display: flex;
    justify-content:flex-start;
  }
  .languageSwitcher span {
    font-size: 0.7rem;
  }
  .toggleWrapper {
    width: 20px;
    height: 40px;
    border-radius: 12px;
  }
  .lanternIcon {
    vertical-align: middle;
    width: 15px;
    height: 27px;
  }
  .toggleKnob {
    width: 17px;
    height: 17px;
    top: 1px;
  }

  .toggleWrapper.active .toggleKnob {
    top: 19px;
  }

  .languageLabel {
    font-size: 0.9rem;
  }
  [data-theme="dark"] .toggleWrapper {
    background: #e0a96d;
  }
  
  [data-theme="dark"] .toggleKnob {
    border-color: #e0a96d;
  }
  
  [data-theme="dark"] .languageLabel {
    color: #e0a96d;
  }
}
