.container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  font-family: "Merriweather", serif;
  color: var(--text-color);
  background-color: var(--background);
  /*border: 2px solid var(--border-color);*/
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.title {
  text-align: center;
  margin-bottom: 25px;
}

.date {
  font-size: 0.9rem;
  color: var(--text-color);
  font-style: italic;
  text-align: center;
  margin-bottom: 20px;
}

.imageWrapper {
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  max-width: 100%;
  height: auto;
  border: 1px solid var(--border-color);
}

.content {
  font-size: 1rem;
  line-height: 1.6;
  text-align: justify;
  -webkit-column-count: 3;
  column-count: 3;

  -webkit-column-gap: 30px;
  column-gap: 30px;

  -webkit-hyphens: auto;
  hyphens: auto;
}

.backLink {
  display: inline-block;
  margin-top: 30px;
  text-decoration: underline;
  font-weight: bold;
  color: var(--heading-color);
  font-family: "Merriweather", serif;
  transition: color 0.3s;
}

.backLink:hover {
  color: var(--accent-color);
}
@media (max-width: 1024px) {
  .content {
    -webkit-column-count: 2;
    column-count: 2;
  }
}
@media (max-width: 768px) {
  .container {
    margin: 20px 10px;
    padding: 15px;
    box-shadow: none;
    border-radius: 0;
  }

  .title {
    font-size: 1.1rem;
    text-align: left;
    margin-bottom: 10px;
  }

  .date {
    font-size: 0.85rem;
    text-align: left;
    margin-bottom: 15px;
  }

  .imageWrapper {
    margin-bottom: 15px;
  }

  .image {
    width: 100%;
    height: auto;
  }
  .content {
    -webkit-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 0;
    column-gap: 0;
    font-size: 0.95rem;
    line-height: 1.5;
    text-align: justify;
  }

  .content h2  {
    font-size: 1.1rem; 
    margin-top: 15px;
    margin-bottom: 8px;
  }
  .content h3 {
    margin-top: 15px;
    font-size: 1rem;
  }
  .content h5 {
    margin-top: 10px;
    font-size: 1rem;
  }
  .backLink {
    font-size: 0.9rem;
    margin-top: 25px;
  }
}
