.block {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 48%; /* или 100%/3 если 3 колонки */
  border: 1px solid var(--heading-color2);
  background: var(--alt-background2);
  color: var(--text-color);
  padding: 15px 15px 5px 15px;
  border-radius: 8px;
  font-size: 1rem;
  font-family: var(--font-body);
  text-align: justify;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  height: 100%;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border: 1px solid var(--border-color);
  margin-bottom: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
  height: 100%;
  position: relative;
  padding-bottom: 5px;
}

.content h3 {
  font-size: 0.9rem;
  border-bottom: 1px solid var(--heading-color2);
  padding-bottom: 5px;
  margin-bottom: 5px;
  margin-top: 0;
  color: var(--text-color);
}
.content p {
  font-size: 0.85rem;
}
.date {
  font-size: 0.8rem;
  color: var(--border-color);
  font-style: italic;
  margin-bottom: -5px;
}

.readMore {
  position: absolute;
  bottom: 5px;
  right: 10px;
  background: none;
  text-decoration: underline;
  color: var(--heading-color);
  font-family: var(--font-headings);
  font-size: 0.9rem;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

.readMore::after {
  content: "→";
  font-size: 0.95rem;
}
.readMore:hover {
  color: var(--heading-color2);
}
@media (max-width: 768px) {
  .block {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
  }

  .card {
    width: 100% !important;
    margin-bottom: 20px;
  }

  .content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .readMore {
    margin-top: auto;
    align-self: flex-start;
  }
}

