.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75); /* Затемнение фона */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 200;
}

.modal {
  background: var(--background);
  color: var(--text-color);
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 1200px;
  max-height: 80vh;
  overflow-y: auto;
  text-align: left;
}

.title {
  font-size: 1.4rem;
  color: var(--heading-color2);
  margin-bottom: 10px;
}

.updated {
  font-size: 0.9rem;
  color: var(--border-color);
  margin-bottom: 15px;
}
.closeButton {
  display: block;
  margin: 20px auto 0;
  background: var(--button-bg);
  color: var(--button-text);
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.closeButton:hover {
  background: var(--border-color);
}
@media (max-width: 768px) {
  .modal {
    width: 95%;
    max-width: 95%;
    max-height: 85vh;
    padding: 20px;
  }

  .title {
    font-size: 1.2rem;
    text-align: center;
  }

  .updated {
    font-size: 0.8rem;
    text-align: center;
  }

  .closeButton {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
  }
}
