.themeSwitcher {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  font-family: var(--font-body);
}
.themeIcon {
  vertical-align: middle;
  height: 40px;
  aspect-ratio: 85 / 131;
  width: auto;
}
.themeToggleWrapper {
  position: relative;
  width: 30px;
  height: 60px;
  background: var(--button-bg);
  border-radius: 15px;
  border: 2px solid var(--link-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}

.themeToggleKnob {
  position: absolute;
  width: 24px;
  height: 24px;
  background: var(--background);
  border-radius: 50%;
  top: 4px;
  transition: all 0.3s ease-in-out;
  border: 1px solid var(--text-color);
}

.themeToggleWrapper.dark {
  background: var(--border-color);
}

.themeToggleWrapper.dark .themeToggleKnob {
  top: 32px;
}

.themeLabel {
  font-size: 1rem;
  font-weight: bold;
  color: var(--heading-color);
  transition: color 0.3s ease-in-out;
}
@media (max-width: 768px) {
  .themeSwitcher {
    gap: 5px;
    display: flex;
    justify-content: flex-start;
  }
  .themeSwitcher span {
    font-size: 0.7rem;
  }
  .themeToggleWrapper {
    width: 20px;
    height: 40px;
    border-radius: 12px;
  }
  .themeIcon {
    height: 27px;
    aspect-ratio: 85 / 131;
    width: auto;
    vertical-align: middle;

  }
  .themeToggleKnob {
    width: 17px;
    height: 17px;
    top: 1px;
  }

  .themeToggleWrapper.dark .themeToggleKnob {
    top: 19px;
  }

  .themeLabel {
    font-size: 0.9rem;
  }
  [data-theme="dark"] .themeToggleWrapper {
    background: #e0a96d;
  }
  
  [data-theme="dark"] .themeToggleKnob {
    border-color: #e0a96d;
  }
  
  [data-theme="dark"] .themeLabel {
    color: #e0a96d;
  }
  
}
