.weatherBox {
  background-color: var(--alt-background-light);
  border: 1px dashed var(--border-color);
  padding: 12px 15px;
  margin-bottom: 40px;
  font-family: "Merriweather", serif;
  color: var(--text-color);
  justify-content: center;
}

.weatherBox h4 {
  margin: 0 0 10px 0;
  font-size: 0.9rem;
  font-weight: 600;
  text-align: left;
  color: var(--heading-color2);
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 5px;
}

.weatherBox ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.weatherBox li {
  margin-bottom: 6px;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.weatherBox strong {
  min-width: 100px;
  display: inline-block;
  font-weight: 600;
  color: var(--heading-color);
}
@media (max-width: 768px) {
  .weatherBox {
    padding: 10px 12px;
    font-size: 0.95rem;
    justify-content: center;
  }

  .weatherBox h4 {
    justify-content: center;
    font-size: 0.95rem;
    text-align: center;
  }
  .weatherBox li {
    margin-bottom: 6px;
    display: flex;
    gap: 15px;
    
    justify-content: center;
  }
}
